p {
  font-family: Monaco;
}

span {
  color: #868173;
}

body {
  background-color: #FCFAF3;
}

header {
  background-color: #EDE9DA;
  padding: 10vh;
  text-align: center;
  font-size: 20x;
  font-family: Monaco;
  background-image: url('https://www.thoughtco.com/thmb/uRTXMGDPKDDdXYXkIXnL6JYF27A=/3867x2175/smart/filters:no_upscale()/GettyImages-453316791-56d9ce413df78c5ba029d700.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  float: left;
  width: 15%;
  background-color: #EDE9DA;
  font-size: 120%;
  text-align:center;
  height: 100vh;
}

nav button {
  background-color: inherit;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 10vh;
  font-size: 100%;
  transition: 0.3s;
  font-family: Monaco;
  overflow: auto;
}

nav button:hover {
  background-color: #FCFAF3;
}

nav button.active {
  background-color: #D3CDBA;
}

.body {
  font-family: 	Monaco;
  padding-left: 17%;
}

.intro {
  background-color: #D3CDBA;
  padding: 5vh;
  border-bottom-style: solid;
  border-width: 17px;
  border-color: #FCFAF3;
  font-size: 120%;
  text-align: center;
}

.article {
  display: none;
  background-color: #EDE9DA;
  padding: 5vh;
  border-bottom-style: solid;
  border-width: 17px;
  border-color: #FCFAF3;
  animation: fadeEffect 0.3s;
  font-size: 100%;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #D3CDBA;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D3CDBA;
}
